#FrontEnd
angularapp/node_modules
angularapp/src/app/models/user.model.spec.ts
angularapp/src/app/models/login.model.spec.ts
angularapp/src/tailwind-local.js

junit
karma

#BackEnd
springapp/target
springapp/HELP.md 
springapp/src/main/resources/application-local.properties